<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="shortcut icon" href="../logo.png" type="png">
    <title>Arte Urbano - MapArt</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="title">
                <a href="http://localhost:3000/MapArt">
                    <span class="logo">MapArt</span>
                </a>
            </div>
        </nav>
    </header>

    <main>

        <div class="container_img_two">
            <h1>ARTE URBANO</h1>
        </div>

        <div>
            <section class="arte_urbano">
                <h2>¿Que es el Arte Urbano?</h2>
                <div class="c_art_u">
                    <div class="arte_urb">
                        <p>
                            Es un término amplio que abarca una variedad de formas de arte visual que se crean en
                            entornos
                            urbanos. Incluye arte callejero, graffiti, murales y otras formas de arte público que se
                            crean
                            sin el permiso del dueño de la propiedad. La historia del arte urbano se remonta a
                            principios de
                            la década de 1970, cuando los artistas de graffiti comenzaron a usar las calles como lienzo.
                            Estos
                            primeros artistas a menudo eran considerados vándalos, pero su trabajo pronto comenzó a
                            llamar
                            la
                            atención del público y del mundo del arte.
                        </p>
                    </div>
                    <div class="arte_urb_img">
                        <img src="../images/art_urbano1.jfif" alt="Imagen de arte urbano">
                    </div>
                </div>
                <p>
                    En la década de 1980, el arte urbano comenzó a evolucionar a medida que los artistas comenzaron a
                    experimentar con nuevas técnicas y estilos. Este período vio el surgimiento del arte de la
                    plantilla, que se crea mediante el uso de plantillas para crear imágenes repetidas. También vio la
                    aparición de artistas callejeros como Banksy, que utilizaron su trabajo para comentar sobre temas
                    sociales y políticos.En la década de 1990, el arte urbano comenzó a ganar aceptación general. Esto
                    se debió en parte al trabajo de artistas como Keith Haring, quien trajo el arte urbano al espacio de
                    la galería. También
                    se debió al auge de la cultura hip hop, que abrazó el arte urbano como una forma de expresión.
                </p>
                <p>
                    Hoy en día, el arte urbano es un fenómeno global. Artistas de todo el mundo crean arte urbano, y se
                    puede encontrar en ciudades desde Nueva York hasta Tokio. El arte urbano ya no se considera
                    vandalismo, sino una forma legítima de arte que puede ser disfrutada por personas de todas las
                    edades.
                </p>
            </section>
        </div>
        <div>
            <section class="arte_urbano_two">
                <h2>Algunos Artistas son:</h2>
                <div class="artist">

                    <!-- Carrusel de imágenes -->
                    <div class="carrusel_img">
                        <span id="art-1"></span>
                        <span id="art-2"></span>
                        <span id="art-3"></span>
                        <span id="art-4"></span>
                        <span id="art-5"></span>

                        <div class="carrusel_elemento_art art-1">
                            <a href="#art-5" class="antes flecha"></a>
                            <a href="#art-2" class="despues flecha"></a>

                            <div class="title">
                                <h2>Banksy</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art art-2">
                            <a href="#art-1" class="antes flecha"></a>
                            <a href="#art-3" class="despues flecha"></a>

                            <div class="title">
                                <h2>Keith Haring</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art art-3">
                            <a href="#art-2" class="antes flecha"></a>
                            <a href="#art-4" class="despues flecha"></a>

                            <div class="title">
                                <h2>Shepard Fairey</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art art-4">
                            <a href="#art-3" class="antes flecha"></a>
                            <a href="#art-5" class="despues flecha"></a>

                            <div class="title">
                                <h2>JR</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art art-5">
                            <a href="#art-4" class="antes flecha"></a>
                            <a href="#art-1" class="despues flecha"></a>

                            <div class="title">
                                <h2>Blu</h2>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </div>
        <div>
            <section class="arte_urbano_three">
                <h2>Beneficios del Arte Urbano</h2>
                <div class="beneficio">
                    <ul>
                        <li>
                            <p>El arte urbano puede agregar color y vitalidad a paisajes urbanos monótonos y hace que
                                las
                                ciudades sean más atractivas visualmente.</p>
                        </li>
                        <li>
                            <p>El arte urbano puede ser un atractivo para turistas y visitantes, que pueden estar
                                interesados en ver el trabajo de artistas locales. Esto puede ayudar a impulsar la
                                economía local al atraer a las personas al área y alentarlas a gastar dinero en
                                alimentos, recuerdos y otros bienes y servicios.</p>
                        </li>
                        <li>
                            <p>El arte urbano puede ayudar a promover el orgullo de la comunidad al dar a los residentes
                                un sentido de propiedad sobre sus vecindarios. Cuando las personas ven arte creado por
                                sus vecinos, puede hacer que se sientan más conectados con su comunidad y más
                                comprometidos con su futuro.</p>
                        </li>
                        <li>
                            <p>El arte urbano se puede utilizar para enviar mensajes sociales sobre temas importantes,
                                como la pobreza, el racismo y el ambientalismo. Esto puede ayudar a crear conciencia
                                sobre estos problemas e iniciar conversaciones sobre cómo abordarlos.</p>
                        </li>
                        <li>
                            <p>El arte urbano puede proporcionar una plataforma para que los artistas se expresen y
                                compartan su trabajo con el público. Esto puede ser especialmente importante para los
                                artistas que están marginados o que no tienen acceso a espacios de arte tradicionales.
                            </p>
                        </li>
                    </ul>
                </div>

            </section>
        </div>

    </main>

    <footer class="footer">
        <span class="logo">MapArt </span>
        <address class="address">
            <strong>Información</strong>
            <div>
                <span>Autor: Jose M. Camacho</span>
            </div>
            <div>
                <span>Dirección: </span>
                <a class="dir" href="https://goo.gl/maps/fpvGwKJM5rrUvygeA">Sabana Libre - Alto de Escuque </a>
            </div>
            <div>
                <span>Correo: Jose M. Camacho</span>
            </div>
            <div>
                <span> Instagram: </span>
                <a class="dir" href="https://www.instagram.com/jmca2805/">JMCA2805</a>
            </div>
        </address>
        <copyright class="copy">MapArt &copy; 2023</copyright>
    </footer>

</body>

</html>