<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="shortcut icon" href="../logo.png" type="png">
    <title>Escultura - MapArt</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="title">
                <a href="http://localhost:3000/MapArt">
                    <span class="logo">MapArt</span>
                </a>
            </div>
        </nav>
    </header>

    <main>

        <div class="container_img_three">
            <h1>ESCULTURA</h1>
        </div>

        <div>
            <section class="arte_urbano">
                <h2>¿Que es la escultura?</h2>
                <div class="c_art_u">
                    <div class="arte_urb">
                        <p>
                            Es una forma de arte tridimensional que se ha practicado durante siglos. Se
                            crea dando forma a materiales como piedra, madera, metal, arcilla o plástico. La escultura
                            puede ser figurativa o abstracta, y se puede utilizar para representar una amplia gama de
                            temas, desde la forma humana hasta los animales y los objetos inanimados. Hay muchos tipos
                            diferentes de escultura, incluyendo escultura en relieve, escultura aditiva, escultura
                            sustractiva y escultura de fundición. La escultura en relieve está tallada o modelada de una
                            manera que se proyecta desde una superficie plana. La escultura aditiva se crea agregando
                            materiales a una superficie, como arcilla o yeso. La escultura sustractiva se crea tallando
                            material de un bloque sólido, como piedra o madera. La escultura de fundición se crea
                            vertiendo metal fundido en un molde.
                        </p>
                    </div>
                    <div class="arte_urb_img">
                        <img src="../images/escultura1.jfif" alt="Imagen de una escultura">
                    </div>
                </div>
                <p>
                    La escultura se ha utilizado para expresar una amplia gama de emociones e ideas humanas a lo largo
                    de la historia. Se ha utilizado para conmemorar eventos históricos, para celebrar creencias
                    religiosas y simplemente para crear belleza. Algunas de las esculturas más famosas del mundo
                    incluyen la Venus de Milo, la Victoria alada de Samotracia y el David de Miguel Ángel. Hoy en día,
                    la escultura sigue siendo una forma de arte popular. Se utiliza en espacios públicos, en
                    museos y en colecciones privadas. La escultura es una forma de arte versátil que se puede utilizar
                    para comunicar una amplia gama de ideas y emociones. Es una forma poderosa de expresar la
                    experiencia humana en tres dimensiones.
                </p>
            </section>
        </div>
        <div>
            <section class="arte_urbano_two">
                <h2>Algunos Artistas son:</h2>
                <div class="artist">
                    <!-- Carrusel de imágenes -->
                    <div class="carrusel_img">
                        <span id="escultura-1"></span>
                        <span id="escultura-2"></span>
                        <span id="escultura-3"></span>
                        <span id="escultura-4"></span>
                        <span id="escultura-5"></span>

                        <div class="carrusel_elemento_art escultura-1">
                            <a href="#escultura-5" class="antes flecha"></a>
                            <a href="#escultura-2" class="despues flecha"></a>

                            <div class="title">
                                <h2>Miguel Ángel</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art escultura-2">
                            <a href="#escultura-1" class="antes flecha"></a>
                            <a href="#escultura-3" class="despues flecha"></a>

                            <div class="title">
                                <h2>Gian Lorenzo Bernini</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art escultura-3">
                            <a href="#escultura-2" class="antes flecha"></a>
                            <a href="#escultura-4" class="despues flecha"></a>

                            <div class="title">
                                <h2>Auguste Rodin</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art escultura-4">
                            <a href="#escultura-3" class="antes flecha"></a>
                            <a href="#escultura-5" class="despues flecha"></a>

                            <div class="title">
                                <h2>Anish Kapoor</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art escultura-5">
                            <a href="#escultura-4" class="antes flecha"></a>
                            <a href="#escultura-1" class="despues flecha"></a>

                            <div class="title">
                                <h2>Constantin Brancusi</h2>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class="arte_urbano_three">
                <h2>La importancia de la escultura</h2>
                <div class="beneficio">
                    <ul>
                        <li>
                            <p>En primer lugar, permite a los artistas crear objetos tridimensionales que se pueden
                                experimentar de una manera que las pinturas y los dibujos no pueden. Esto permite una
                                experiencia más inmersiva e interactiva para el espectador.</p>
                        </li>
                        <li>
                            <p>En segundo lugar, la escultura se puede utilizar para comunicar una amplia gama de ideas
                                y emociones. Se puede usar para representar personas y eventos reales, o se puede usar
                                para crear obras más abstractas y simbólicas. Esto hace que la escultura sea un medio
                                versátil y poderoso que se puede utilizar para explorar una amplia gama de temas.
                            </p>
                        </li>
                        <li>
                            <p>En tercer lugar, la escultura se puede encontrar en una variedad de entornos, desde
                                museos y galerías hasta espacios públicos. Esto lo convierte en una forma de arte
                                accesible que puede ser disfrutada por personas de todas las edades y orígenes.</p>
                        </li>
                    </ul>
                </div>

            </section>
        </div>

    </main>

    <footer class="footer">
        <span class="logo">MapArt </span>
        <address class="address">
            <strong>Información</strong>
            <div>
                <span>Autor: Jose M. Camacho</span>
            </div>
            <div>
                <span>Dirección: </span>
                <a class="dir" href="https://goo.gl/maps/fpvGwKJM5rrUvygeA">Sabana Libre - Alto de Escuque </a>
            </div>
            <div>
                <span>Correo: Jose M. Camacho</span>
            </div>
            <div>
                <span> Instagram: </span>
                <a class="dir" href="https://www.instagram.com/jmca2805/">JMCA2805</a>
            </div>
        </address>
        <copyright class="copy">MapArt &copy; 2023</copyright>
    </footer>

</body>

</html>