<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="shortcut icon" href="../logo.png" type="png">
  <title>MapArt</title>
</head>

<body>
  <header>
    <nav class="nav">
      <div class="title">
        <a href="http://localhost:3000/MapArt">
          <span class="logo">MapArt</span>
        </a>
      </div>
      <div class="option">

        <div class="option_sect">
          <a href="http://localhost:3000/MapArt/Login">
            <button class="log_i">
              Iniciar sesión
            </button>
          </a>
        </div>

        <div class="option_sect">
          <a href="http://localhost:3000/MapArt/Subscription" class="action">
            <span class="action">
              Suscribirse
            </span>
          </a>
        </div>

      </div>
    </nav>
  </header>

  <main>

    <div class="container_img">
      <h1>FOTOGRAFÍA</h1>
    </div>

    <div class="content">

      <div class="bar">
        <h2>Artículos</h2>
      </div>

      <section class="art">

        <div class="content_art">
          <div class="article_img">
            <img src="../images/arte_urbano.jfif" alt="Imagen de arte urbano">
          </div>
          <div class="inf">
            <h3>Arte Urbano</h3>
            <hr>
            <p> Es una forma de expresión artística que ha ganado mucha popularidad en la última década.</p>
          </div>
          <div class="pos">
            <a href="http://localhost:3000/MapArt/Soon" class="action_2">
              <span class="action_2">Ver más</span>
            </a>
          </div>
        </div>

        <div class="content_art">
          <div class="article_img">
            <img src="../images/escultura.jfif" alt="Imagen de escultura">
          </div>
          <div class="inf">
            <h3>Escultura</h3>
            <hr>
            <p> Es el arte de modelar el barro, tallar en piedra, madera y otros materiales.</p>
          </div>
          <div class="pos">
            <a href="http://localhost:3000/MapArt/Soon" class="action_2">
              <span class="action_2">Ver más</span>
            </a>
          </div>
        </div>

        <div class="content_art">
          <div class="article_img">
            <img src="../images/monumento.jfif" alt="Imagen de monumento">
          </div>
          <div class="inf">
            <h3>Monumentos</h3>
            <hr>
            <p> Es una obra pública en memoria de alguien o de algo, puede ser una construcción que posee valor
              artístico, arqueológico o histórico.</p>
          </div>
          <div class="pos">
            <a href="http://localhost:3000/MapArt/Soon" class="action_2">
              <span class="action_2">Ver más</span>
            </a>
          </div>
        </div>
      </section>
    </div>

    <div class="content_two">
      <section class="video">
        <div class="title_2">
          <h2>¡Explora el mundo del arte a través de este video y deja volar tu imaginación!</h2>
        </div>
        <div class="video">
          <iframe src="https://www.youtube.com/embed/BSVpBFlg1jg" title="Explora el Mundo" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </section>
    </div>

    <div class="content_five">
      <div>
        <section class="cont_inf">
          <div>
            <h2>MapArt: Una revista de arte y fotografía</h2>
          </div>
          <hr class="st">
          <p>MapArt es una revista que explora el mundo a través del arte y la fotografía. Contamos con una amplia gama
            de trabajos, desde pinturas y esculturas tradicionales hasta fotografía contemporánea y arte digital.
            También cubrimos una variedad de temas, desde la historia del arte hasta la cultura contemporánea.</p>

          <p>Nuestro objetivo es proporcionar a nuestros lectores una visión general completa y atractiva del mundo del
            arte y la fotografía. Creemos que el arte y la fotografía pueden ser una herramienta poderosa para
            comprender el mundo que nos rodea, y estamos comprometidos a proporcionar a nuestros lectores las
            herramientas que necesitan para apreciar y comprender el arte y la fotografía.</p>

          <p>MapArt es una revista para cualquier persona que ama el arte y la fotografía. Esperamos que se una a
            nosotros en nuestro viaje para explorar el mundo a través del arte y la fotografía.</p>
          <hr class="st">
        </section>
      </div>
    </div>

    <div class="content_three">
      <div>
        <section class="soon">
          <h3>PRÓXIMAMENTE . . .</h3>
        </section>
      </div>
    </div>

    <div class="content_four">
      <div>
        <section class="sign">
          <div>
            <h3>LO MEJOR DE MAPART ENTREGADO EN SU BANDEJA DE ENTRADA</h3>
          </div>
          <div>
            <h4>Únete para obtener más fotos, historias y ofertas especiales inspiradoras de MapArt.</h4>
          </div>
          <div class="pos">
            <a href="http://localhost:3000/MapArt/Subscription" class="action_2">
              <span class="action_2">Únete</span>
            </a>
          </div>
        </section>
      </div>
    </div>

  </main>

  <footer class="footer">
    <span class="logo">MapArt </span>
    <address class="address">
      <strong>Información</strong>
      <div>
        <span>Autor: Jose M. Camacho</span>
      </div>
      <div>
        <span>Dirección: </span>
        <a class="dir" href="https://goo.gl/maps/fpvGwKJM5rrUvygeA">Sabana Libre - Alto de Escuque </a>
      </div>
      <div>
        <span>Correo: Jose M. Camacho</span>
      </div>
      <div>
        <span> Instagram: </span>
        <a class="dir" href="https://www.instagram.com/jmca2805/">JMCA2805</a>
      </div>
    </address>
    <copyright class="copy">MapArt &copy; 2023</copyright>
  </footer>

</body>

</html>