<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="shortcut icon" href="../logo.png" type="png">
    <title>Monumentos - MapArt</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="title">
                <a href="http://localhost:3000/MapArt">
                    <span class="logo">MapArt</span>
                </a>
            </div>
        </nav>
    </header>

    <main>

        <div class="container_img_four">
            <h1>MONUMENTOS</h1>
        </div>

        <div>
            <section class="arte_urbano">
                <h2>¿Que es un monumento?</h2>
                <div class="c_art_u">
                    <div class="arte_urb">
                        <p>
                            Es una estructura que se construye para conmemorar a una persona o evento, o que se ha
                            vuelto relevante para un grupo social como parte de su recuerdo de tiempos históricos o
                            patrimonio cultural, debido a su importancia artística, histórica, política, técnica o
                            arquitectónica. Algunos de los primeros monumentos fueron dólmenes o menhires,
                            construcciones megalíticas construidas con fines religiosos o funerarios. Las estructuras
                            creadas para otros fines que se han hecho notables por su edad, tamaño o importancia
                            histórica también pueden considerarse monumentos. Esto puede suceder debido a la gran edad y
                            tamaño, como en el caso de la Gran Muralla China, o porque un evento de gran importancia
                            ocurrió allí, como el pueblo de Oradour-sur-Glane en Francia. Muchos países utilizan
                            "monumento antiguo" o términos similares para la designación oficial de estructuras
                            protegidas o sitios arqueológicos que originalmente pueden haber sido casas domésticas
                            ordinarias u otros edificios
                        </p>
                    </div>
                    <div class="arte_urb_img">
                        <img src="../images/monumentos_1.jfif" alt="Imagen de un monumento">
                    </div>
                </div>
                <p>
                    Los monumentos pueden tomar muchas formas diferentes, incluyendo estatuas, edificios, puentes e
                    incluso características naturales. Pueden estar hechos de una variedad de materiales, incluyendo
                    piedra, metal, madera e incluso hielo. Algunos monumentos son muy grandes y elaborados, mientras que
                    otros son pequeños y simples.
                </p>
            </section>
        </div>
        <div>
            <section class="arte_urbano_two">
                <h2>Algunos Monumentos son:</h2>
                <div class="artist">
                    
                    <!-- Carrusel de imágenes -->
                    <div class="carrusel_img">
                        <span id="monumento-1"></span>
                        <span id="monumento-2"></span>
                        <span id="monumento-3"></span>
                        <span id="monumento-4"></span>
                        <span id="monumento-5"></span>

                        <div class="carrusel_elemento_art monumento-1">
                            <a href="#monumento-5" class="antes flecha"></a>
                            <a href="#monumento-2" class="despues flecha"></a>

                            <div class="title">
                                <h2>El Taj Mahal</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art monumento-2">
                            <a href="#monumento-1" class="antes flecha"></a>
                            <a href="#monumento-3" class="despues flecha"></a>

                            <div class="title">
                                <h2>El Coliseo</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art monumento-3">
                            <a href="#monumento-2" class="antes flecha"></a>
                            <a href="#monumento-4" class="despues flecha"></a>

                            <div class="title">
                                <h2>La Gran Esfinge</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art monumento-4">
                            <a href="#monumento-3" class="antes flecha"></a>
                            <a href="#monumento-5" class="despues flecha"></a>

                            <div class="title">
                                <h2>Machu Picchu</h2>
                            </div>
                        </div>

                        <div class="carrusel_elemento_art monumento-5">
                            <a href="#monumento-4" class="antes flecha"></a>
                            <a href="#monumento-1" class="despues flecha"></a>

                            <div class="title">
                                <h2>La Gran Muralla China</h2>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </div>
        <div>
            <section class="arte_urbano_three">
                <h2>La importancia de los monumentos</h2>
                <div class="beneficio">
                    <ul>
                        <li>
                            <p>Pueden ayudarnos a recordar eventos importantes y personas del pasado y también pueden
                                ayudarnos a comprender la historia y la cultura de un lugar en particular.</p>
                        </li>
                        <li>
                            <p>Pueden ser una fuente de orgullo para una comunidad o nación y pueden ayudar a promover
                                un
                                sentido de unidad e identidad.</p>
                        </li>
                        <li>
                            <p>Pueden ser un lugar de reflexión e inspiración y también pueden ayudarnos a pensar en el pasado,
                                el presente y el futuro.</p>
                        </li>
                    </ul>
                </div>

            </section>
        </div>

    </main>

    <footer class="footer">
        <span class="logo">MapArt </span>
        <address class="address">
            <strong>Información</strong>
            <div>
                <span>Autor: Jose M. Camacho</span>
            </div>
            <div>
                <span>Dirección: </span>
                <a class="dir" href="https://goo.gl/maps/fpvGwKJM5rrUvygeA">Sabana Libre - Alto de Escuque </a>
            </div>
            <div>
                <span>Correo: Jose M. Camacho</span>
            </div>
            <div>
                <span> Instagram: </span>
                <a class="dir" href="https://www.instagram.com/jmca2805/">JMCA2805</a>
            </div>
        </address>
        <copyright class="copy">MapArt &copy; 2023</copyright>
    </footer>

</body>

</html>