<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="shortcut icon" href="../logo.png" type="png">
    <title>Home - MapArt</title>
</head>
<script defer src="../javascripts/home.js"></script>
<body>
    <header>
        <nav class="nav">
            <div class="title">
                <a href="http://localhost:3000/MapArt">
                    <span class="logo">MapArt</span>
                </a>
            </div>
            <div class="option">
                <div class="option_sect">
                    <a class="action" id="salir">
                        <span class="action">
                            Salir
                        </span>
                    </a>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="container_img_five">
            <h1 id="user_b">Bienvenido</h1>
        </div>
        <div class="planes">
            <h1>Planes de Pago</h1>
        </div>
        <div class="prices">

            <div class="content_plan">
                <div class="inf">
                    <h3>Básico | $9.99/ Mensual</h3>
                    <hr>
                    <ul>
                        <li>Acceso a todos los números actuales y anteriores de la revista</li>
                        <li>Entrevistas y artículos exclusivos</li>
                        <li>Acceso anticipado a nuevos lanzamientos</li>
                        <li>Entradas con descuento para eventos artísticos</li>
                    </ul>
                </div>
                <div class="btn1">
                    <a href="http://localhost:3000/MapArt/Soon">
                        <button type="submit" class="ingresar">Pagar</button>
                    </a>
                </div>
            </div>

            <div class="content_plan">
                <div class="inf">
                    <h3>Premium | $19.99/ Mensual</h3>
                    <hr>
                    <ul>
                        <li>Todos los beneficios del plan básico</li>
                        <li>Acceso a un foro exclusivo para miembros</li>
                        <li>Envío gratuito en todas las compras de mercancía</li>
                        <li>Invitaciones a eventos exclusivos</li>
                    </ul>
                </div>
                <div class="btn1">
                    <a href="http://localhost:3000/MapArt/Soon">
                        <button type="submit" class="ingresar">Pagar</button>
                    </a>
                </div>
            </div>


            <div class="content_plan">
                <div class="inf">
                    <h3>Coleccionista | $29.99/ Mensual</h3>
                    <hr>
                    <ul>
                        <li>Todos los beneficios del plan Premium</li>
                        <li>Una caja de suscripción personalizada</li>
                        <li>Una consulta individual con un experto en arte</li>
                        <li>Un año gratuito extra</li>
                    </ul>
                </div>
                <div class="btn1">
                    <a href="http://localhost:3000/MapArt/Soon">
                        <button type="submit" class="ingresar">Pagar</button>
                    </a>
                </div>
            </div>

        </div>
    </main>

    <footer class="footer">
        <copyright class="copy">MapArt &copy; 2023</copyright>
    </footer>
</body>

</html>