<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="shortcut icon" href="../logo.png" type="png">
  <title>Próximamente - MapArt</title>
</head>
<script defer src="../javascripts/home.js"></script>

<body>
  <header>
    <nav class="nav">
      <div class="title">
        <a href="http://localhost:3000/MapArt">
          <span class="logo">MapArt</span>
        </a>
      </div>
      <div class="option">
        <div class="option_sect">
          <a class="action" id="salir">
            <span class="action">
              Salir
            </span>
          </a>
        </div>

      </div>
    </nav>
  </header>

  <div class="proximamente">

    <h1>Próximamente para futuras evaluaciones</h1>

  </div>

  <footer class="footer">
    <copyright class="copy">MapArt &copy; 2023</copyright>
  </footer>

</body>

</html>