<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/dark.css">
  <link rel="shortcut icon" href="../logo.png" type="png">
  <title>Suscripción - MapArt</title>
</head>

<body>
  <header>
    <nav class="nav">
      <div class="title">
        <a href="http://localhost:3000/MapArt">
          <span class="logo">MapArt</span>
        </a>
      </div>
    </nav>
  </header>

  <main>

    <div class="subsc">

      <div class="subscimg">

        <div class="prom">
          <h1>Promoción</h1>
          
          <p>Suscríbase a nuestra página de manera gratuito para recibir las últimas noticias y actualizaciones sobre
            MapArt. Obtendrá acceso exclusivo a los nuevos artículos con anticipación y más.</p>

          <p>¡Regístrese hoy y nunca se pierda nada!</p>

          <p>Ademas obtenga descuento para las suscripciones pagas, la información le sera suministrada por el correo
            proporcionado.</p>
          
        </div>

      </div>

      <div class="subscform">

        <div class="formprom">
          <h1>Formulario</h1>

          <form id="formsubs">

            <label for="name"><strong>Nombre</strong></label>
            <input type="text" placeholder="Ingrese su nombre" id="nombre" name="nombre" required>

            <label for="direcci"><strong>Dirección</strong></label>
            <input type="text" placeholder="Ingrese su dirección" id="direcci" name="direcci" required>

            <label for="email"><strong>Correo electrónico</strong></label>
            <input type="text" placeholder="Ingrese su correo electrónico" id="correo" name="email" required>

            <label for="telf"><strong>Teléfono</strong></label>
            <input type="text" placeholder="Ingrese su teléfono" id="telf" name="telf" required>

            <div class="btnr">
              <button type="submit" class="registro">Regístrate</button>
            </div>

          </form>

        </div>

      </div>

    </div>

  </main>

  <footer class="footer">
    <copyright class="copy">MapArt &copy; 2023</copyright>
  </footer>

</body>
<script src="../javascripts/subscription.js"></script>
<script src="../javascripts/sweetalert2.all.min.js"></script>
</html>